In [1]:
L1=[i for i in range(1,100,2)]

L2=[7*i for i in range(1,14)]

import numpy as np
L3=[i for i in np.linspace(5,20,50)] #We can change interval as per use

list4=[8,7,11,23,45,6,12,17]
prob=[i/sum(list4) for i in list4]

In [2]:
def get_month(date_list):
  m_list=[]
  for date in date_list:
    if int(date.split('-')[1])==1:
      m_list.append('January')
    elif int(date.split('-')[1])==2:
      m_list.append('February')
    elif int(date.split('-')[1])==3:
      m_list.append('March')
    elif int(date.split('-')[1])==4:
      m_list.append('April')
    elif int(date.split('-')[1])==5:
      m_list.append('May')
    elif int(date.split('-')[1])==6:
      m_list.append('June')
    elif int(date.split('-')[1])==7:
      m_list.append('July')
    elif int(date.split('-')[1])==8:
      m_list.append('August')
    elif int(date.split('-')[1])==9:
      m_list.append('September')
    elif int(date.split('-')[1])==10:
      m_list.append('october')
    elif int(date.split('-')[1])==11:
      m_list.append('November')
    elif int(date.split('-')[1])==12:
      m_list.append('December')
  return m_list

a=['06-08-2003','09-12-2015']
get_month(a)

['August', 'December']

In [3]:
from numpy import mean
fin1 = open('scores2_new.csv', 'w+')
fin2 = open('scores2.csv', 'r')

fin1.readline()
fin2.readline()

fin1.write('Student' + ',' + 'Test1' + ',' + 'Test2' + ',' + 'Test3' + ',' + 'Test4' + ',' + 'weighted Marks' + '\n')

lines = fin2.readlines()
for line in lines:
  mylist = line.split(',')
  fin1.write(line.strip('\n')+','+str(0.15*float(mylist[1])+0.15*float(mylist[2])+0.30*float(mylist[3])+0.40*float(mylist[4]))+ '\n')


fin2.close()
fin1.close()

fin = open('scores2_new.csv', 'r+')

fin.readline()

exam1 = []
exam2 = []
exam3 = []
exam4 = []
exam5 = []

lines2 = fin.readlines()
for line in lines2:
  mylist = line.split(',')
  exam1.append(float(mylist[1]))
  exam2.append(float(mylist[2]))
  exam3.append(float(mylist[3]))
  exam4.append(float(mylist[4]))
  exam5.append(float(mylist[5]))
fin.write('Min, '+ str(min(exam1)) + ', '+ str(min(exam2))+','+ str(min(exam3)) + ', '+ str(min(exam4))+ ', '+ str(min(exam5))+'\n')
fin.write('Max, '+ str(max(exam1)) + ', '+ str(max(exam2))+','+ str(max(exam3)) + ', '+ str(max(exam4))+ ', '+ str(max(exam5))+'\n')
fin.write('Mean, '+ str(mean(exam1)) + ', '+ str(mean(exam2))+', '+ str(mean(exam3))+', '+ str(mean(exam4))+ ', '+ str(mean(exam5))+'\n')

fin.close()

In [4]:
fin4=open('q_values.csv','w')
fin5=open('d_values.csv','r')

my_list1=fin5.readline().split(',')
my_list=[]
for k in my_list1:
  my_list.append(float(k))

List4=[((10/3)*i)**(1/2) for i in my_list]
list4=np.round_(List4,decimals=2)

for j in range(len(my_list)):
  fin4.write(str(list4[j])+',')

fin5.close()
fin4.close()

In [5]:
def pascal(n):
  def lisst(n):
    if n==1:
      return [1]
    elif n==2:
      return [1,1]
    else:
      mlist=[]
      i=0
      while i<n:
        if i==0:
          mlist.append(1)
          i=i+1
        elif i<n-1:
          mlist.append(lisst(n-1)[i-1]+lisst(n-1)[i])
          i=i+1
        else:
          mlist.append(1)
          i=i+1
      return mlist
  return lisst(n)

print(pascal(5))
print()


for j in [1,2,3,4]:
  p=0
  while p<4-j:
    print(end=" ")
    p=p+1
  for k in pascal(j):
    print(str(k),end=' ')
  print('\n')

[1, 4, 6, 4, 1]

   1

  1 1

 1 2 1

1 3 3 1