**Lab 3**

In [1]:
n=input('Enter any number:')
num=int(n)
sum=0
i=4
while i <= num-1:
  sum=sum + i**2
  i=i+2
print('The sum of squares of even numbers between 2 to ',n,'(excluding 2 and', n, ') is ', sum)

Enter any number:10
The sum of squares of even numbers between 2 to  10 (excluding 2 and 10 ) is  116

In [2]:
n=input('Enter any positive integer:')
num=int(n)
i=0
while num > 1:
  num = num/2
  i=i+1
print(i,'times the number',n,'is divisible by 2 before it is less than or equal to 1')

Enter any positive integer:33
6 times the number 33 is divisible by 2 before it is less than or equal to 1

In [3]:
no=input('Enter any number between -1 and 1 excluding -1 and 1:')
x=float(no)
n=0
LHS=1
RHS=1/(1-x)

#since every term of of the LHS series is positive and RHS is the limit of the series.
#Hence we can say that RHS > LHS. hence abs(LHS-RHS) can be replaced with RHS-LHS without loss of generality.

while RHS-LHS >= 0.01 or RHS-LHS <= -0.01:
  n=n+1
  LHS=LHS+ x**n
  print('S',n, abs(RHS-LHS))
print(n,'is the value of n for which given inequality holds')

Enter any number between -1 and 1 excluding -1 and 1:-0.5
S 1 0.16666666666666663
S 2 0.08333333333333337
S 3 0.04166666666666663
S 4 0.02083333333333337
S 5 0.01041666666666663
S 6 0.00520833333333337
6 is the value of n for which given inequality holds

In [4]:
n=input('Enter any positive integer:')
num=int(n)
i=2
k=0
while i <= num/2:
  if num%i == 0:
    i=i+1
    k=k+1
  else:
    i=i+1
    k=k
if k==0:
  print('Given number  is a prime number')
else:
  print('Given number  is not a prime number')

Enter any positive integer:157
Given number  is a prime number

In [5]:
for i in range(1,14):
  for j in range(1,11):
    print(i*j,' ', end='')
  print()

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100
11  22  33  44  55  66  77  88  99  110
12  24  36  48  60  72  84  96  108  120
13  26  39  52  65  78  91  104  117  130

In [6]:
print('The numbers between 100 and 500 which are divisible by 11 but not by 2 are as follows:')
for i in range(100,500):
  if i%11 == 0:
    if i%2 != 0:
      print(i,' ')

The numbers between 100 and 500 which are divisible by 11 but not by 2 are as follows:
121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

**Lab 4**

In [7]:
mystr = input('Enter the string which you want to be displayed backward: ')
length = len(mystr)
i = length-1
print('The backward displayed string is: ')
while i >= 0:
  print(mystr[i],end='')
  i=i-1

Enter the string which you want to be displayed backward: my name is rupesh yadav
The backward displayed string is:
vaday hsepur si eman ym

In [8]:
string = input('Input a string: ')
ch = input('Enter the character to be checked: ')
length = len(string)
i = 0
k = 0
while i <= length-1:
  if ch == string[i]:
    k=k+1
  i = i+1
print('The number of occurence of given character',ch,'in the given string is ', k)

Input a string: my name is rupesh yadav
Enter the character to be checked: a
The number of occurence of given character a in the given string is  3

In [9]:
string1 = input('Input first string: ')
string2 = input('Input second string: ')
if string2 in string1:
  print('Yes! The second string is in first string.')
else:
  print('No! The second string is not in first string.')

Input first string: my name is rupesh yadav
Input second string: name
Yes! The second string is in first string.

In [10]:
str1 = input('Input a string: ')
str2 = input('Input a string which is in first entered string : ')
str3 = input('Input another string which is in first entered string: ')
start = str1.find(str2)
stop = str1.find(str3)
print('The substring of string1 from position of string2 to string3 is as follows: ')
str1[start:stop]

Input a string: my name is rupesh yadav
Input a string which is in first entered string : name
Input another string which is in first entered string: yadav
The substring of string1 from position of string2 to string3 is as follows:

'name is rupesh '

In [11]:
string = input('Enter the string which is to be checked if palindrome or not: ')
i=0
length=len(string)
while i<(length-1)/2:
  if string[i]==string[length-1-i]:
    i=i+1
  else:
    i=length
if i<length:
  print('Entered string is a palindrome.')
elif i==length:
  print('Entered string is not a palindrome.')

Enter the string which is to be checked if palindrome or not: malayalam
Entered string is a palindrome.

In [12]:
mystr=input('Enter a string: ')
i=0
length=len(mystr)
print('Displaying all odd characters in upper case: ')
while i<length:
  if i%2==0:
    print(mystr[i].upper(),end='')
  else:
    print(mystr[i],end='')
  i=i+1
print()
k=0
print('Displaying all even characters in upper case: ')
while k<length:
  if k%2==0:
    print(mystr[k],end='')
  else:
    print(mystr[k].upper(),end='')
  k=k+1

Enter a string: rupeshyadav
Displaying all odd characters in upper case:
RuPeShYaDaV
Displaying all even characters in upper case:
rUpEsHyAdAv

In [13]:
string=input('Enter a string/paragraph: ')
length=len(string)
i=0
k=0

#It is obvious that number of words in a paragraph is just one more than number of spaces

while i<length:
  if ' ' == string[i]:
    k=k+1
    i=i+1
  else:
    i=i+1
print('The number of words are: ',k+1)

print('The number of characters including spaces are: ',length)

#The number of characters without spaces is just the difference of numbers of total characters and number of spaces

print('The number of characters excluding spaces are: ', length-k)

Enter a string/paragraph: my name is rupesh yadav
The number of words are:  5
The number of characters including spaces are:  23
The number of characters excluding spaces are:  19