In [1]:
f1=open('lab7w.txt','w')
f1.write("Course Name : IE509")
f1.write("\n       Computer Programming and Algorithms\n")
f1.write("Language : Python")
f1.close()

In [2]:
num=input('Enter a number for which you want padovan sequence: ')
n=int(num)

f2=open('padovan_'+num+'.txt','w')
mylist=[]
if n<3:
  i=0
  while i<=n:
    mylist.append(1)
    i=i+1
else:
  i=0
  while i<3:
    mylist.append(1)
    i=i+1
  j=3
  while j<=n:
    mylist.append(mylist[j-2]+mylist[j-3])
    j=j+1

i=0
while i<=n:
  mylist[i]=str(mylist[i])
  i=i+1

for string in mylist:
  f2.write(string)
  f2.write('\n')

f2.close()

Enter a number for which you want padovan sequence: 50

In [4]:
f3=open('padovan_'+num+'.txt','r')
flines=f3.readlines()
f3.close()
numlist=[]
for num in flines:
  numlist.append(int(num))
numlist
print('(a). The number of lines is: ',len(numlist))

i=0
k=0
while i<=n:
  if numlist[i]%3==0:
    k=k+1
  i=i+1
print('(b). ',k,' numbers are divisible by 3.')

list2=list(numlist)
i=0
while i<=n:
  j=2
  k=0
  if numlist[i]==1:
    list2[i]=1
  else:
    while j<=numlist[i]/2:
      if numlist[i]%j==0:
        k=1
      j=j+1
    if k==0:
      list2[i]=1
    elif k==1:
      list2[i]=0
  i=i+1
print(list2)
print('(c). ',sum(list2),' of them are prime numbers')

(a). The number of lines is:  51
(b).  15  numbers are divisible by 3.
[1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
(c).  12  of them are prime numbers

In [5]:
num=input('Enter no. of elements in your array: ')
n=int(num)
i=0
A=[]
print('Input elements of your array one by one and press enter after giving each element')
while i<n:
  A.append(int(input()))
  i=i+1
print('The original array is : ')
print(A)

for i in range(n):
  x = A[i]
  j = i
  while j>0 and A[j-1] > x:
    A[j] = A[j-1]
    j = j-1
    A[j] = x
print('The sorted array is :')
print(A)

Enter no. of elements in your array: 5
Input elements of your array one by one and press enter after giving each element
15
2
75
9
45
The original array is :
[15, 2, 75, 9, 45]
The sorted array is :
[2, 9, 15, 45, 75]

In [7]:
f5=open('numbers.txt','r')
flines=f5.readlines()
f3.close()
list5=[]
for num in flines:
  list5.append(int(num))
f5.close()

print('The original array is : ')
print(list5)

list5.sort()
print('The sorted array is :')
print(list5)

The original array is :
[12, 23, 90, 45, 24, 24, 35, 56, 8, 22, 79, 15]
The sorted array is :
[8, 12, 15, 22, 23, 24, 24, 35, 45, 56, 79, 90]